<div class="row">
  <div class="col-md-4 offset-4">
    <!--  -->
    <!--  -->
    <form #formRef="ngForm" (ngSubmit)="login()">
      <!--  -->
      <!--  -->
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          name="username"
          required
          [(ngModel)]="username"
          #usernameField="ngModel"
        />
      </div>
      <!--  -->
      <div *ngIf="usernameField.hasError('required')" class="text-danger">
        USERNAME IS REQUIRED
      </div>
      <!--  -->
      <!--  -->
      <div class="form-group">
        <input
          type="password"
          name="password"
          class="form-control"
          required
          [(ngModel)]="password"
          #passwordField="ngModel"
        />
      </div>
      <!--  -->
      <div *ngIf="passwordField.hasError('required')" class="text-danger">
        PASSWORD IS REQUIRED
      </div>
      <!--  -->
      <!--  -->
      <button [disabled]="formRef.invalid" type="submit">LogIn</button>
      <!--  -->
      <!--  -->
    </form>
  </div>
</div>
