<button appCustomDirective>click</button> <br /><br /><br />
<!--  -->
<!--  -->
<!--  -->
<form action="">
  <label for="yellow">yellow</label>
  <input
    type="radio"
    name="textBgColor"
    id="yellowRBtn"
    appRadioCustomDirective bgColorName="yellow"
  /><br />
  <label for="redRBtn">Red</label>
  <input
    type="radio"
    name="textBgColor"
    id="redRBtn"
    appRadioCustomDirective bgColorName="red"
  /><br />
  <label for="greenRBtn">Green</label>
  <input
    type="radio"
    name="textBgColor"
    id="greenRBtn"
    appRadioCustomDirective bgColorName="green"
  /><br />
</form>
<br />
<p appRadioCustomDirective>hello</p>
